@font-face {
    font-family: 'quicksandlight';
    src: url('Quicksand-Light-webfont.eot');
    src: url('Quicksand-Light-webfont.eot?#iefix') format('embedded-opentype'),
    url('Quicksand-Light-webfont.woff2') format('woff2'),
    url('Quicksand-Light-webfont.woff') format('woff'),
    url('Quicksand-Light-webfont.ttf') format('truetype'),
    url('Quicksand-Light-webfont.svg#quicksandlight') format('svg');
    font-weight: normal;
    font-style: normal;

}




body {
    
        
    font: 20px sans-serif;
}

div, .row, p {
    font: 20px sans-serif;
}

label {
    font: 30px courier;
    letter-spacing: 5px;
}
.container {
    text-align: center;
    margin-left: auto;
    margin-left: auto;
    padding: 20px;
}


.row {
    text-align: center;
    align-content: center;
}
textarea {
    resize: vertical;
    max-height: 150px;
}

.btn {
    margin-top: 10px;
    margin-bottom: 10px;
}

#key {
    width: 60px;
    margin-left: auto;
    margin-right: auto;
}

.content {
    margin-top: 20px;
    border: 1px solid #bbbbbb;
    color: black;
    padding: 20px;
    display:none;
}